.buttons {
    margin-top: 25px;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
  }
  
  #play {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play.svg);
  }
  
  #play.played {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play1.svg);
  }
  
  #pause {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause.svg);
  }
  
  #pause.paused {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause1.svg);
  }
  
  #stop {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop.svg);
  }
  
  #stop.stopped {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg);
  }