body {
	font-family: sans-serif;
	background-color: #f5f5f5;
	color: azure;
}
#container{
    width: 100%;
    text-align: -webkit-center;
    border: 1px solid black;
}
article{
	padding:10px;
	background-color: rgb(235, 229, 221);
	color: black;
	width: 60%;
}
h1,h2,h3{
	margin: 0;
	margin-top: 5px;
	width: 62%;
	background-color: #aaaaaa;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

form{
	text-align: -webkit-center;
}

.frms-container{
	display: flex;
	justify-content: space-around;
}
.frms{
	width: 50%;
	text-align: center;
	border:1px solid white;
}
.frms input{
	width: 30%;
}
#canvas{
	border: 1px solid black;
	background: aliceblue;
}

.output {
	margin: 20px;
	padding: 20px;
	background-color: rgb(106, 106, 106);
	border: 1px solid #ddd;
	border-radius: 5px;
  }

button {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	margin-top: 10px;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
  }
  
	
button:hover,
button:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
  }
  
button:hover {
	transform: translateY(-1px);
  }

button:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
  }