body{
  width: auto;
  text-align: center;
  overflow: scroll;
  padding-bottom: 800px;
}
.container{
  width: 1000px;
  border: 1px solid #BFBFBF;
  background-color: #f7f7f2;
  box-shadow: 10px 5px 4px #aaaaaa;
  position: absolute;
  margin-left: 15%;
}
.matrix{
  display: block;

}

.A{
  display: inline;
}
.B{
  display: inline;

}

/*
#M_Result{
  margin-top: 50px;
  border: 1px solid black;
}

#Matrix_c{
  border: 1px solid black;
}

/* radio buttons */

#radio_buttons{
  margin-top: 50px;
/* border: 1px solid black; */
}
