body{
  width: auto;
  text-align: center;
  border: 1px solid black;
}
.container{
  border: 1px solid #BFBFBF;
  background-color: #f7f7f2;
  box-shadow: 10px 5px 4px #aaaaaa;
}
.matrix{
  display: block;

}

h1,h2{
  background-color: #aaaaaa;
}
.multi-box{
  border: 1px solid black; 
}
.A{
  display: inline;
}
.B{
  display: inline;

}
#test-questions {
  border: 1px solid black;
}

#myCanvas{
  border: 1px solid black;
}
/*
#M_Result{
  margin-top: 50px;
  border: 1px solid black;
}

#Matrix_c{
  border: 1px solid black;
}

/* radio buttons */

#radio_buttons{
  margin-top: 50px;
/* border: 1px solid black; */
}
 

#tables{
display: flex;
justify-content: center;

}
.table-a,.table-b{
 margin-right: 8%;
}
.table-a,.table-b,.table-c{
  border-collapse: collapse;
  border-left: black solid;
  border-right: black solid;
}

td {
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.result-out p:nth-child(odd):nth-child(1) {
  width: 35%;
  margin-left: 32.4%;
  animation-name: highlight-result;
  animation-duration: 2s;
}

.table-a tr:nth-child(odd):nth-child(1){
  animation-name: highlight-rows;
  animation-duration: 2s;
 
}
.table-b td:nth-child(odd):nth-child(1){
  animation-name: highlight-col;
  animation-duration: 2s;
}

.tr-1 td:nth-child(1){
  animation-name: highlight-cell;
  animation-duration: 2s;
}
@keyframes highlight-rows {
  0%{background-color: transparent}
  100%{background-color: rgb(255, 0, 0);}
}
@keyframes highlight-col {
  0%{background-color: transparent}
  100%{background-color: rgb(0, 0, 255);}
}

@keyframes highlight-cell {
  0%{background-color: transparent}
  100%{background-color: rgb(255, 0, 255);}
}

@keyframes highlight-result {
  0%{background-color: transparent}
  100%{background-color: rgb(255, 0, 255);}
}

.animate {
  animation-play-state: running;
}
